<div class="torn-divider to-paper" aria-hidden="true">
  <svg viewBox="0 0 1440 88" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <path
      fill="currentColor"
      d="M0 0h1440v38c-41 11-79 20-120 20-78 0-108-33-180-33-78 0-96 30-177 30-87 0-96-22-180-22-82 0-112 31-189 31-82 0-120-35-206-35-94 0-127 30-189 42V0Z"
    />
  </svg>
</div>
